<main class="profile-page">
    <aside class="profile-page__sidebar">
        {{>Button isArrow=true direction="left"}}
    </aside>
    <section class="profile-page__content">
        {{> @partial-block }}
    </section>
</main>