{{#>ProfileUl }}
   {{#>ProfileLi }}
        <span>Старый пароль</span>
        {{> Input isProfile=true
          type='password'
          name='oldPassword'
          id='oldPassword'
          value='пароль старый'
          placeholder='Введите старый пароль'}}
   {{/ProfileLi}}

   
   {{#>ProfileLi }}
        <span>Новый пароль</span>
        {{> Input isProfile=true
          type='password'
          name='password'
          id='password'
          value='пароль новый'
          placeholder='Введите новый пароль'}}
   {{/ProfileLi}}


   {{#>ProfileLi }}
        <span>Повторите новый пароль</span>
        {{> Input isProfile=true
          type='password'
          name='newPassword'
          id='newPassword'
          value='пароль новый'
          placeholder='Повторите новый пароль'}}
   {{/ProfileLi}}
{{/ProfileUl}}