{{#>ProfileUl }}
   {{#>ProfileLi }}
        <span>Старый пароль</span>
        <span>************</span>
   {{/ProfileLi}}

   
   {{#>ProfileLi }}
        <span>Новый пароль</span>
        <span>************</span>
   {{/ProfileLi}}


   {{#>ProfileLi }}
        <span>Повторите новый пароль</span>
        <span>************</span>
   {{/ProfileLi}}
{{/ProfileUl}}