{{#>ProfileUl }}
   {{#>ProfileLi }}
        <span>Старый пароль</span>
        {{> Input isProfile=true
          type='password'
          name='old-password'
          id='old-password'
          value='пароль старый'
          placeholder='Введите старый пароль'}}
   {{/ProfileLi}}

   
   {{#>ProfileLi }}
        <span>Новый пароль</span>
        {{> Input isProfile=true
          type='password'
          name='new-password'
          id='new-password'
          value='пароль новый'
          placeholder='Введите новый пароль'}}
   {{/ProfileLi}}


   {{#>ProfileLi }}
        <span>Повторите новый пароль</span>
        {{> Input isProfile=true
          type='password'
          name='new-password-again'
          id='new-password-again'
          value='пароль новый'
          placeholder='Повторите новый пароль'}}
   {{/ProfileLi}}
{{/ProfileUl}}