{{#>ChatsPageLayout direction="top" id="selectedChat"}}
   {{>ChatDialogHeader userName=userName}}
   {{#>ChatDialogMessagesWrapper }}
      {{#each messages}}
         <span>message</span>
      {{/each}}
   {{/ChatDialogMessagesWrapper}}
   {{> ChatDialogFooter}}
{{/ChatsPageLayout}}