.profile-content-image {
    @extend .flex-col-to-top;
    gap: 25px;

    &__image {
        @extend .flex-col-center;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
    }
}