.profile-image {
  @extend .flex-col-to-top;
  max-width: 510px;
  width: fit-content;

  gap: 20px;

  &__avatar {
    @extend .flex-col-center;
    position: relative;

    width: 130px;
    height: 130px;

    background: $subwhite;
    overflow: hidden;

    border-radius: 50%;

    &_pointer {
      @extend .profile-image__avatar;
      cursor: pointer;
    }

    &__hover {
      @extend .text-13-500;
      @extend .absolute-center;
      padding: 50px 30px;
      width: 100%;
      height: 100%;

      text-align: center;
      color: $white;
      background: rgba($color: $dark, $alpha: 0.5);

      transition: all 0.15 ease;
      opacity: 0;
    }

    &:hover &__hover {
      opacity: 1;
    }
  }

  &__avatar__hover:hover {
    visibility: visible;
  }

  &__title {
    text-align: center;
  }
}
