.chats-page {
  @extend .flex-row-to-top-left;
  @extend .full-screen;

  &__sidebar {
    @extend .flex-col-to-top;
    width: 310px;
    height: 100%;

    background: $subgray;

    border: none;
    border-right: 1px solid $delimiter;
  }

  &__header {
    @extend .flex-col-to-top;
    width: 100%;

    padding: 10px;
    gap: 20px;

    border-bottom: 1px solid $delimiter;
  }

  &__sidebar-header {
    @extend .flex-row-to-top-left;
    width: 100%;
  }

  &__profile-button {
    @extend .text-12-500;
    @extend .flex-row-center-right;
    border: none;

    background: transparent;

    cursor: pointer;

    gap: 8px;

    color: $secondary;
    text-align: right;
  }

  &__search {
    width: 100%;

    padding: 10px 5px;

    border: none;
    border-radius: 5px;

    background-color: $subwhite;

    text-align: center;

    &:focus,
    &:focus-visible,
    &:active {
      outline: none;
    }

    &::placeholder {
      @extend .text-12-500;
      text-align: center;
    }
  }

  &__chat-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__content {
    @extend .flex-col-to-top;
    flex-grow: 1;

    height: 100%;

    padding: 8px;
  }
}
