<main class='chats-page'>
    <aside class="chats-page__sidebar">
        <header class="chats-page__header">
            <div class="chats-page__sidebar-header">
                <button class="chats-page__profile-button">
                    <span>
                    Профиль
                </span>
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 9L5 5L1 1" stroke="#999999"/>
                </svg>
                </button>
            </div>
            <input class="chats-page__search" type="search" name="search" placeholder="Поиск" id="">
        </header>
        <div class="chats-page__chat-list">
            {{>ChatsList}}
        </div>
    </aside>
    <section class="chats-page__content">
        {{> @partial-block }}
    </section>
</main>