.profile-li {
  @extend .text-13-500;
  @extend .flex-row-between;
  list-style-type: none;

  width: 100%;
  max-width: 510px;

  padding: 10px 0;

  flex-wrap: nowrap;

  text-align: right;

  & > *:nth-child(2) {
    color: $secondary;
  }
}
