.form-item {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__label {
    position: absolute;
    top: 18px;
    left: 4px;
    font-size: 1rem;
    color: $secondary;
    transition: all 0.1s ease;
  }

  &__input {
    width: inherit;
    border: 0;
    border-bottom: 1px solid $primary;

    font-size: 1rem;
    font-weight: 500;

    padding: 20px 0 6px 0;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__input:not(:placeholder-shown) ~ &__label {
    top: 0;
    left: 0;
    font-size: 0.8rem;
  }

  &__validate {
    margin-top: 4px;
    color: $validateText;
    font-size: 0.7rem;
  }
}
