.form-item {
  @extend .flex-col-to-top-left;
  position: relative;
  width: 100%;

  &__label {
    @extend .text-13-500;
    position: absolute;
    top: 7.5px;
    left: 4px;

    text-align: left;
    color: $secondary;

    transition: all 0.1s ease;
  }

  &__input {
    @extend .text-13-500;
    width: inherit;

    border: 0;
    border-bottom: 1px solid $primary;

    text-align: left;

    padding: 8px 0;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__input:is(:focus, :not(:placeholder-shown)) ~ &__label {
    top: -8px;
    left: 0;

    font-size: 9px;
    line-height: 9px;
  }

  &__validate {
    margin-top: 4px;
    color: $danger;
    font-size: 0.7rem;
  }
}

.profile {
  &__input {
    @extend .text-13-500;
    color: $secondary;
    text-align: right;

    border: none;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }
}
