.form-item {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &__label {
    position: absolute;
    top: 7.5px;
    left: 4px;

    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;

    color: $secondary;
    transition: all 0.1s ease;
  }

  &__input {
    width: inherit;
    border: 0;
    border-bottom: 1px solid $primary;

    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;

    padding: 8px 0;

    &:focus,
    &:focus-visible {
      outline: none;
    }
  }

  &__input:not(:placeholder-shown) ~ &__label {
    top: -8px;
    left: 0;

    font-size: 9px;
    line-height: 9px;
  }

  &__validate {
    margin-top: 4px;
    color: $validateText;
    font-size: 0.7rem;
  }
}
