<li class='profile-list-item {{className}}'>
  {{#if left}}
    <span class='profile-list-item__main'>{{left}}</span>
  {{/if}}
  {{#if right}}
    <span class='profile-list-item__secondary'>{{right}}</span>
  {{/if}}
</li>