.profile-content-list {
  &__item {
    @extend .flex-row-between;
    @extend .text-13;
    width: 100%;
    padding: 10px 0;
    flex-wrap: nowrap;
    gap: 10px;

    &__title {
      color: $dark;
    }

    &__value {
      color: $secondary;
    }
  }
}
