.button {
  position: relative;
  text-align: center;

  cursor: pointer;

  transition: all 0.15s ease;

  &:focus {
    outline: none;
  }

  &_primary {
    border-radius: 8px;
    border: 2px solid rgba($color: $primary, $alpha: 0.9);
    padding: 12px 24px;
    background: rgba($color: $primary, $alpha: 0.9);
    color: $lightText;

    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;

    &:hover {
      background: $primary;
    }

    &:active {
      box-shadow: 0 0 5px $primary;
    }

    &:focus {
      box-shadow: 0 0 5px $primary;
    }
  }

  &_link {
    padding-inline: 12px;
    padding-bottom: 4px;
    background: transparent;
    border: none;
    color: $primary;

    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0em;
  }
}
