.button {
  @extend .text-13-500;
  position: relative;

  cursor: pointer;

  text-align: center;

  transition: all 0.15s ease;

  &:focus {
    outline: none;
  }

  &_primary {
    border-radius: 8px;
    border: 2px solid rgba($color: $primary, $alpha: 0.9);

    padding: 12px 24px;

    background: rgba($color: $primary, $alpha: 0.9);

    color: $white;

    width: 100%;
    max-width: 280px;

    &:hover {
      background: $primary;
    }

    &:active {
      box-shadow: 0 0 5px $primary;
    }

    &:focus {
      box-shadow: 0 0 5px $primary;
    }
  }

  &_secondary {
    @extend .flex-row-center-right;
    gap: 8px;

    background: transparent;

    border: none;

    text-align: right;
    color: $secondary;
  }

  &_link {
    @extend .text-11-500;
    background: transparent;

    border: none;

    color: $primary;
  }

  &_danger {
    @extend .text-11-500;
    background: transparent;

    border: none;

    color: $danger;
  }

  &_arrow {
    @extend .flex-col-center;
    width: 28px;
    height: 28px;

    background: $primary;

    border: none;
    border-radius: 50%;

    fill: $white;
  }

  &_top {
    transform: rotate(0);
  }

  &_left {
    transform: rotate(-90deg);
  }

  &_right {
    transform: rotate(90deg);
  }

  &_bottom {
    transform: rotate(180deg);
  }
}
