.button {
  position: relative;
  text-align: center;

  cursor: pointer;

  transition: all 0.15s ease;

  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;

  &:focus {
    outline: none;
  }

  &_primary {
    border-radius: 8px;
    border: 2px solid rgba($color: $primary, $alpha: 0.9);
    padding: 12px 24px;
    background: rgba($color: $primary, $alpha: 0.9);
    color: $lightText;
    font-size: 13px;
    line-height: 13px;

    width: 100%;
    max-width: 280px;

    &:hover {
      background: $primary;
    }

    &:active {
      box-shadow: 0 0 5px $primary;
    }

    &:focus {
      box-shadow: 0 0 5px $primary;
    }
  }

  &_link {
    background: transparent;
    border: none;
    color: $primary;

    font-size: 11px;
    line-height: 11px;
  }

  &_exit {
    background: transparent;
    border: none;
    color: $validateText;

    font-size: 11px;
    line-height: 11px;
  }

  &_arrow {
    width: 28px;
    height: 28px;

    background: $primary;

    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: $lightText;
  }

  &_top {
    transform: rotate(0);
  }

  &_left {
    transform: rotate(-90deg);
  }

  &_right {
    transform: rotate(90deg);
  }

  &_bottom {
    transform: rotate(180deg);
  }
}
