<article class='chat-dialog-header'>
  <div class='chat-dialog-header__user-info'>
    <div class='user-info__img'>
    </div>
    <span class='user-info__title'>
      {{userName}}
    </span>
  </div>
  <svg
    class='chat-dialog-header__actions'
    width='3'
    height='16'
    viewBox='0 0 3 16'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <circle cx='1.5' cy='2' r='1.5' fill='fill-content' />
    <circle cx='1.5' cy='8' r='1.5' fill='fill-content' />
    <circle cx='1.5' cy='14' r='1.5' fill='fill-content' />
  </svg>
</article>