<article class="chat-dialog-header">
  <div class="chat-dialog-header__user-info">
    <div class="user-info__img"></div>
    <span class="user-info__title">
      {{ userName }}
    </span>
  </div>
  {{> UserActionButton}}
</article>
