.chats-content-header {
  @extend .flex-row-between;

  width: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid $delimiter;

  &__profile {
    @extend .flex-row-between;

    gap: 10px;

    &__label {
      position: relative;
      width: 34px;
      height: 34px;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    &__input {
      display: none;
    }

    &__image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &__name {
      color: $dark;
    }
  }

  &__options {
    @extend .flex-col-center;

    position: relative;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    fill: $dark;
    transition: all 0.25s;

    &__buttons {
      display: none;
      visibility: hidden;
    }

    &:hover {
      fill: $primary;
      background-color: $lightblue;
    }

    &:focus,
    &:focus-visible {
      fill: $primary;
      background-color: $lightblue;
      outline: none;

      & > .chats-content-header__options__buttons {
        @extend .flex-col-to-top-left;

        visibility: visible;
        position: absolute;
        top: 30px;
        right: 20px;
        gap: 5px;
        padding: 10px 15px;
        background: $white;
        box-shadow: 0 0 6px rgba($color: $dark, $alpha: 10%);
        border-radius: 10px;
      }
    }
  }
}
