.chats-content-header {
  @extend .flex-row-between;

  width: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid $delimiter;

  &__profile {
    @extend .flex-row-between;

    gap: 10px;

    &__label {
      position: relative;
      width: 34px;
      height: 34px;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    &__input {
      display: none;
    }

    &__image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &__name {
      color: $dark;
    }
  }

  &__options {
    @extend .flex-row-between;
  }
}
