.center-layout {
    @extend .flex-col-center;
    @extend .full-screen;
    padding: 1rem;

    &__full-screen {
        @extend .full-screen;
    }

    &__full-width {
        width: 100%;
        height: 100%;
    }
}