// size of page styles ---->
.full-screen {
  width: 100%;
  height: 100vh;
}
// size of page styles ----x

// text styles ---->
.text-9-500 {
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
}

.text-11-500 {
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
}

.text-12-500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
}

.text-13-500 {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
}

.text-13-600 {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
}

.text-16-600 {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
}

.text-20-500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}
// text styles ----x

// position styles ---->
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// position styles ----x

// flex styles ---->
.flex-row-to-top-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-row-center-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.flex-row-center-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flex-col-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-col-to-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flex-col-to-top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

// flex styles ----x

// actions styles ---->

.actions-ul {
  gap: 8px;
  position: absolute;

  padding: 15px;

  background: $white;

  transition: all 0.2s ease;

  opacity: 0;
  display: none;

  border-radius: 12px;
  box-shadow: 0px 0px 6px 0px rgba($color: $black, $alpha: 0.24);
}

.actions-ul_active {
  @extend .flex-col-to-top;
  opacity: 1;
}

.action-li {
  @extend .flex-row-center-left;
  @extend .text-12-500;
  width: 100%;

  padding: 8px;
  gap: 15px;

  border-radius: 8px;

  list-style-type: none;

  text-wrap: nowrap;
}

// actions styles ----x
