<button class='user-action-button'>
    {{> MoreActionsIcon}}

  <ul class="user-action-button__actions">
    <li class="user-action-button__action">
        {{> AddIcon }} Добавить пользователя
    </li>
    <li class="user-action-button__action">
        {{> DeleteIcon }} Удалить пользователя
    </li>
  </ul>
</button>