{{#>ProfileUl}}

  {{#>ProfileLi}}
    <span>Почта</span>
    {{> Input isProfile=true
          type='email'
          name='email'
          id='email'
          value='pochta@yandex.ru'
          placeholder='Введите почту'}}
  {{/ProfileLi}}

  {{#>ProfileLi}}
    <span>Логин</span>
    {{> Input isProfile=true
          type='text'
          name='text'
          id='text'
          value='ivanivanov'
          placeholder='Введите логин'}}
  {{/ProfileLi}}
  
  {{#>ProfileLi}}
    <span>Имя</span>
    {{> Input isProfile=true
          type='text'
          name='text'
          id='text'
          value='Иван'
          placeholder='Введите имя'}}
  {{/ProfileLi}}

  {{#>ProfileLi}}
    <span>Фамилия</span>
    {{> Input isProfile=true
          type='text'
          name='text'
          id='text'
          value='Иванов'
          placeholder='Введите фамилию'}}  
    
  {{/ProfileLi}}

  {{#>ProfileLi}}
    <span>Имя в чате</span>
    {{> Input isProfile=true
          type='text'
          name='text'
          id='text'
          value='Иван'
          placeholder='Введите никнейм'}} 
  {{/ProfileLi}}

  {{#>ProfileLi}}
    <span>Телефон</span>
    {{> Input isProfile=true
          type='tel'
          name='text'
          id='text'
          value='+7 (909) 967 30 30'
          placeholder='Введите номер телефона'}} 
  {{/ProfileLi}}
{{/ProfileUl}}