.link {
  @extend .text-13;

  cursor: pointer;

  &_primary {
    color: $primary;

    &:hover {
      color: rgba($color: $primary, $alpha: 90%);
    }
  }

  &_danger {
    color: $danger;

    &:hover {
      color: rgba($color: $danger, $alpha: 90%);
    }
  }
}
