.attach-button {
  @extend .flex-col-center;
  position: relative;
  background: transparent;

  border: none;

  cursor: pointer;

  fill: $secondary;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus {
    fill: $primary;
  }

  &:focus &__actions {
    @extend .actions-ul_active;
  }

  &__actions {
    @extend .actions-ul;
    bottom: calc(100% + 25px);
    left: 0;
  }

  &__action {
    @extend .action-li;

    &:hover {
      background: $lightblue;
    }
  }
}
