<button class="attach-button">
  {{> ClipIcon}}

  <ul class="attach-button__actions">
    <li class="attach-button__action">{{> MultimediaIcon }} Фото или Видео</li>
    <li class="attach-button__action">{{> FileIcon }} Файл</li>
    <li class="attach-button__action">{{> LocationIcon }} Локация</li>
  </ul>
</button>
