.profile-content-list {
    @extend .flex-col-to-top;
    width: 40vw;
    max-width: 600px;
    min-width: 200px;

    &>*:not(:last-child) {
        border: none;
        border-bottom: 1px solid $delimiter;
    }
}