{{#>Form}}
   {{>BlockTitle titleLevel="1" title="Регистрация"}}
   <div class="inputs-list">
    {{>Input type="email" name="email" id="email" label="Почта"}}
    {{>Input type="text" name="login" id="login" label="Логин"}}
    {{>Input type="text" name="name" id="name" label="Имя"}}
    {{>Input type="text" name="second_name" id="second_name" label="Фамилия"}}
    {{>Input type="tel" name="phone" id="phone" label="Телефон"}}
    {{>Input type="password" name="password" id="password" label="Пароль"}}
    {{>Input type="password" name="again-password" id="again-password" label="Пароль (ещё раз)"}}
   </div>
   <div class="buttons">
    {{>Button type="primary" label="Зарегестрироваться"}}
    {{>Button type="link" label="Войти"}}
   </div>
{{/Form}}