.profile-ul {
  @extend .flex-col-to-top;
  width: 100%;
  max-width: 510px;

  gap: 0;

  & > * {
    border: none;
    border-bottom: 1px solid $delimiter;
  }

  & > *:last-child {
    border-bottom: none;
  }
}
