.page-layout {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  &_center {
    justify-content: center;
  }

  &_top {
    justify-content: flex-start;
  }

  &_bottom {
    justify-content: flex-end;
  }
}
