.welcome {
  @extend .flex-col-to-top;
  gap: 20px;
  padding: 20px 10px;

  border-radius: 12px;

  box-shadow: 0px 0px 6px 0px rgba($color: $black, $alpha: 0.24);

  &__list {
    @extend .flex-col-to-top;
    gap: 10px;

    list-style-type: none;
  }
}
