.profile-content-image {
  @extend .flex-col-to-top;

  gap: 25px;

  &__image {
    @extend .flex-col-center;

    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;

    &_pointer {
      cursor: pointer;

      &__hover {
        @extend .flex-col-center;
        @extend .text-13;
        @extend .absolute-center;

        width: 100%;
        height: 100%;
        font-weight: 300;
        color: $white;
        text-align: center;
        background: rgba($color: $lightgray, $alpha: 50%);
        opacity: 0;
        visibility: hidden;
      }

      &:hover > &__hover {
        opacity: 1;
        visibility: visible;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
